body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

#map {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.search {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding: 0 20px;
}

.search i {
    color: whitesmoke;
    font-size: 25px;
}

.search-container {
    background-color: #454E53;
    border-radius: 30px;
    display: flex;
    height: 60px;
    left: 100px;
    position: absolute;
    top: 230px;
    width: 400px;
    z-index: 100;
}

.search-container input {
    background-color: transparent;
    border: none;
    color: white;
    flex-grow: 1;
    font-size: 25px;
}

.search-container input:focus {
    outline: none;
}

.store-address {
    color: #514C4C;
    font-size: 21px;
    margin-top: 30px;
}

.store-address span {
    display: block;
}

.store-container {
    border-bottom: 1px solid #979797;
    cursor: pointer;
}

.store-container-background {
    display: flex;
    padding: 0 5px;
}

.store-info-container {
    flex-grow: 1;
}

.stores-list {
    flex-grow: 1;
    padding: 0 20px;
    overflow-y: scroll;
}

.store-list-container {
    background-color: white;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
    left: 100px;
    position: absolute;
    top: 320px;
    width: 400px;
    z-index: 100;
}

.store-number {
    align-items: center;
    background-color: #454E53;
    border-radius: 50%;
    color: #B5ADAD;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.store-number-container {
    align-items: center;
    display: flex;
}

.store-phone-number {
    color: #85ADAD;
    margin: 15px 0;
}

.title {
    color: #333;
    font-size: 80px;
    font-weight: bold;
    left: 100px;
    position: absolute;
    text-transform: uppercase;
    top: 100px;
    z-index: 100;
}