/***** BASE STYLE *****/

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

#map {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
    
/***** HEADER *****/

.logo {
    display: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.menu {
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    left: 0;
    padding: 16px 24px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.search {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding: 0 20px;
}

.search i {
    color: whitesmoke;
    font-size: 16px;
}

.search-container {
    align-items: center;
    background-color: #454E53;
    border-radius: 30px;
    display: flex;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 265px;
}

.search-container input {
    background-color: transparent;
    border: none;
    color: white;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
}

.search-container input:focus {
    outline: none;
}

/***** STORE LIST CONTAINER *****/

.store-address {
    color: #514C4C;
    font-size: 21px;
    margin-top: 30px;
}

.store-address span {
    display: block;
}

.store-container {
    border-bottom: 1px solid #979797;
    cursor: pointer;
}

.store-container-background {
    border-radius: 18px;
    display: flex;
    margin: 8px 0 12px;
    padding: 0 8px;
    transition: all 0.2s ease-in-out;
}

.store-container-background:hover {
    background-color: rgb(230, 228, 228);
}

.store-info-container {
    flex-grow: 1;
}

.stores-list {
    flex-grow: 1;
    -ms-overflow-style: none;
    padding: 0 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.stores-list::-webkit-scrollbar {
    display: none;
}

#store-list-container {
    background-color: white;
    border-radius: 20px;
    bottom: 180px;
    display: none;
    opacity: 0.5;
    position: absolute;
    right: 10px;
    top: 150px;
    transition: all 0.5s ease-in-out;
    width: 300px;
    z-index: 100;
}

#store-list-container:hover {
    opacity: 1;
}

.store-number {
    align-items: center;
    background-color: #454E53;
    border-radius: 50%;
    color: white;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.store-number-container {
    align-items: center;
    display: flex;
}

.store-phone-number {
    margin: 15px 0;
}

/***** FOOTER *****/

footer {
    background-color: white;
    border-radius: 10px 10px 0 0;
    bottom: 0;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
    position: absolute;   
    text-align: center;
    width: 30%;
    z-index: 100;
    left: 0;
    right: 0;    
}

footer h1 {
    font-size: 18px;
}

/***** TABLET *****/

@media (min-width: 640px) {

    /***** HEADER *****/
    
    .logo {
        align-items: center;
        display: flex;
    }

    .menu {
        justify-content: space-between;
        margin: 0;
    }

    /***** STORE LIST CONTAINER *****/
    
    #store-list-container {
        width: 400px;
    }

    /***** FOOTER *****/

    footer {
        display: none;
    }
}